._lh-1 {
  line-height: 1;
}
._ls-0 {
  letter-spacing: 0;
}
._w-full {
  width: 100%;
}
._fwb {
  font-weight: bold;
}
.relative {
  position: relative;
}
.fork {
  @include font(Fork,normal);
}
.absolute-xy {
  @include position(xy);
}
.absolute-x {
  @include position(x);
}
.absolute-y {
  @include position(y);
}