._lh-1 {
  line-height: 1;
}
._ls-0 {
  letter-spacing: 0;
}
._w-full {
  width: 100%;
}
._fwb {
  font-weight: bold !important;
}
.relative {
  position: relative;
}
.uppercase {
  text-transform: uppercase;
}

.catamaran {
  @include font(Catamaran,normal);
  &.-thin {
    @include font(Catamaran,thin);
  }
  &.-bold {
    @include font(Catamaran,bold);
  }
}

.genjyuu {
  @include  font(genjyuu,normal);
  &.-thin {
    @include font(genjyuu,thin);
  }
  &.-bold {
    @include font(genjyuu,bold);
  }
}
.absolute-xy {
  @include position(xy);
}
.absolute-x {
  @include position(x);
}
.absolute-y {
  @include position(y);
}