.catalog {
  width: 160px;
  margin-top: 16px;
  margin-left: auto;

  &__button {
    padding: 12px;
    border: 1px solid black;
    font-size: rem(14);
    border-radius: 4px;
    text-align: center;
  }
}