.catalog {
  width: 160px;
  margin-top: 16px;
  margin-left: auto;

  &__button {
    padding: 8px;
    color: color(gray2);
    border: 1px solid color(gray2);
    font-size: rem(14);
    border-radius: 4px;
    text-align: center;
  }
}