.fix-button {
  position: sticky;
  left: 93%;
  bottom: 3%;
  width: 64px;
  height: 64px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  display: inline-block;
  z-index: 9;
  border-radius: 50%;

  &:hover,
  &:focus {
    opacity: .75;
  }

  &.-active {
    opacity: 1;
    visibility: visible;
  }
}