.more-button-wrap {
  text-align: center;
}

.more-button {
  display: inline-block;
  color: #fff;
  padding: 24px 48px;
  text-align: center;
  font-weight: bold;
  background-color: color(black3);
  border-radius: 40px;
  font-size: rem(20);
}

.more-button02 {
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  width: 100%;
  padding: 4px 16px;
  text-align: center;
  font-weight: bold;
  background-color: color(black3);
  border-radius: 40px;
  font-size: rem(14);
}