.more-button-wrap {
  text-align: center;
}

.more-button {
  display: inline-block;
  color: #fff;
  padding: 24px 48px;
  text-align: center;
  font-weight: bold;
  background-color: color(black3);
  border-radius: 40px;
  font-size: rem(20);
}