.scene-image {
  position: relative;

  &__a {
    position: absolute;
    top: 48px;
    left: 270px;
    pointer-events: visible;
  }

  &__b {
    position: absolute;
    top: 200px;
    left: 626px;
    pointer-events: visible;
  }
}