<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>オカムラ</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header role="banner"></header>
  <main role="main">
    <section>
      <div class="swiper-container">
        <div class="swiper-wrapper loop">
          <div class="swiper-slide"><img src="./img/hero_01.png" alt=""></div>
          <div class="swiper-slide"><img src="./img/hero_02.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/hero_03.png" alt=""></div>
          <div class="swiper-slide"><img src="./img/hero_04.png" alt=""></div>
          <div class="swiper-slide"><img src="./img/hero_05.png" alt=""></div>
        </div>
      </div>
    </section>
    <section>

      <section>
        <div class="voices">
          <div class="voices__inner">

          </div>
        </div>
      </section>
    </section>
  </main>
  <footer role="contentinfo"></footer>
  <script src="main.js"></script>
</body>
</html>