<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オカムラ</title>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header role="banner">
    <div class="container">
        <div class="l-header__inner">
            <div class="l-header__left">
                <h1 class="catch">
                    <img src="./img/logo-main.png" alt="Leaning Commons 学生の声からつくる理想のラーニングコモンズ">
                </h1>
            </div>
            <div class="l-header__right">
                <div class="logo">
                    <img class="img" src="./img/logo.png" width="142" height="16" alt="OKAMURA">
                </div>
                <div class="catalog">
                    <a href="" class="catalog__button"><span class="uppercase">catalog</span></a>
                </div>
                <nav class="g-nav" role="navigation">
                    <ul class="g-nav__list _mt-40">
                        <li class="g-nav__item"><a href="#concept" class="g-nav__link _pl-0">Concept</a></li>
                        <li class="g-nav__item"><a href="#action" class="g-nav__link">Action</a></li>
                        <li class="g-nav__item"><a href="#scene" class="g-nav__link">Scene</a></li>
                        <li class="g-nav__item"><a href="#presentation" class="g-nav__link">Catch Up & Presentation</a>
                        </li>
                        <li class="g-nav__item"><a href="#product" class="g-nav__link">Product</a></li>
                        <li class="g-nav__item"><a href="#contact" class="g-nav__link _pr-0">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<main role="main">
    <section>
        <div class="swiper-container">
            <div class="swiper-wrapper loop">
                <div class="swiper-slide"><img src="./img/hero_03.png" width="408" height="437" alt="hero3"></div>
                <div class="swiper-slide"><img src="./img/hero_02.png" width="408" height="437" alt="hero2"></div>
                <div class="swiper-slide"><img src="./img/hero_01.png" width="408" height="437" alt="hero1"></div>
                <div class="swiper-slide"><img src="./img/hero_05.png" width="408" height="437" alt="hero5"></div>
                <div class="swiper-slide"><img src="./img/hero_04.png" width="408" height="437" alt="hero4"></div>
            </div>
        </div>
        <h2 class="_t-center _fz-24 _fwb genjyuu _mb-32"><span class="border-1">ラーニングコモンズは知的な協創・共同作業を行い、<br>考え抜く力、進める力、伝える力を養う場です。</span>
        </h2>
    </section>
    <section id="concept" class="l-section observer-el">
        <div class="l-section__inner">
            <div class="container">
                <h2 class="section-heading">
                    <span class="section-heading__inner">
                       <span class="section-heading__sub">Concept</span>
                       <span class="section-heading__main">「居心地が良い」だけではなく、<br>「学び」が広がる空間。</span>
                   </span>
                </h2>
                <p class="_mt-32 _t-center _ml-auto _mr-auto _lh-2" style="width: 516px">
                    いま、学生たちが求めているのは人と人、人と情報など、知的好奇心を刺激する出逢いに溢れた総合的な学びをサポートする空間です。<br>学生たちの主体的な「知」の想像を育み、社会で活躍する人材育成を実践する場所としてラーニングコモンズが必要とされています。
                </p>
                <section class="aims-box">
                    <div class="aims-box__inner">
                        <h3 class="aims-box__title _t-center _c-blue2 _fwb _fz-18">[ ラーニングコモンズの目指すもの ]</h3>
                        <div class="l-grid-large _mt-32">
                            <section class="l-grid-large__cell -auto">
                                <div class="aims-box__wrap">
                                    <h4 class="_fz-20 _c-blue1 _fwb">協創・協働</h4>
                                    <p class="_fz-14">専門を超えたコミュニケーション</p>
                                </div>
                            </section>
                            <section class="l-grid-large__cell -auto">
                                <div class="aims-box__wrap">
                                    <h4 class="_fz-20 _c-blue1 _fwb">快適な学習空間・運営</h4>
                                    <p class="_fz-14">学生も職員も心身ともにウェルビーイング</p>
                                </div>
                            </section>
                            <section class="l-grid-large__cell -auto">
                                <div class="aims-box__wrap">
                                    <h4 class="_fz-20 _c-blue1 _fwb">アウトカムを重視</h4>
                                    <p class="_fz-14">学びの効果を最大限に</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="l-section">
        <section class="l-section__inner">
            <div class="container">
                <h2 class="_fz-32 _fwb genjyuu _t-center">「理想のラーニングコモンズとは？」</h2>
                <p class="_t-center genjyuu _fz-22 _mt-24"><span class="border-2">学生の本音を聞いてみました。</span></p>
                <p class="_t-center _mt-40 _fz-14 _lh-2">ラーニングコモンズは、創造的な学びに必要とされる様々なコミュニケーションを生む空間のこと。<br>変化する教育現場で求められる、これからのラーニングコモンズの姿を学生のリアルな声から導き出しました。
                </p>
            </div>
            <div class="voices">
                <div class="voices__inner _mt-24 _mb-24">
                    <img src="./img/voice_01.png" alt="作業をするためのハイスペックなパソコンがある。" class="voices__img" width="163"
                         height="178">
                    <img src="./img/voice_02.png" alt="人前で演奏ができる場" class="voices__img" width="160" height="175">
                    <img src="./img/voice_03.png" alt="緑がある" class="voices__img" width="73" height="107">
                    <img src="./img/voice_04.png" alt="工房的な要素がある" class="voices__img" width="79" height="87">
                    <img src="./img/voice_05.png" alt="漫画が置いてある" class="voices__img" width="93" height="102">
                    <img src="./img/voice_06.png" alt="空き情報が行かなくてもわかる" class="voices__img" width="83" height="90">
                    <img src="./img/voice_07.png" alt="動かせるモニターがある" class="voices__img" width="99" height="108">
                    <img src="./img/voice_08.png" alt="明るい場所" class="voices__img" width="108" height="118">
                    <img src="./img/voice_09.png" alt="今話題の本が置いてある" class="voices__img" width="120" height="130">
                    <img src="./img/voice_10.png" alt="閉じこもれる場所がある" class="voices__img" width="102" height="111">
                    <img src="./img/voice_11.png" alt="ラフな雰囲気" class="voices__img" width="132" height="145">
                    <img src="./img/voice_12.png" alt="靴を脱げるスペースがある" class="voices__img" width="119" height="131">
                    <img src="./img/voice_13.png" alt="自由に使えるプロジェクターがある" class="voices__img" width="142" height="155">
                    <img src="./img/voice_14.png" alt="自由に使える壁がある" class="voices__img" width="143" height="156">
                    <img src="./img/voice_15.png" alt="雑誌がある" class="voices__img" width="120" height="130">
                    <img src="./img/voice_16.png" alt="動かせるホワイトボードがある" class="voices__img" width="152" height="166">
                    <img src="./img/voice_17.png" alt="わかりやすく情報発信できる掲示板" class="voices__img" width="180" height="197">
                    <img src="./img/voice_18.png" alt="広いテーブルが欲しい" class="voices__img" width="109" height="119">
                    <img src="./img/voice_19.png" alt="テスト勉強がしたい" class="voices__img" width="103" height="113">
                    <img src="./img/voice_20.png" alt="大きなホワイトボードがある" class="voices__img" width="135" height="148">
                    <img src="./img/voice_21.png" alt="情報共有するためのノートパソコンがある" class="voices__img" width="126"
                         height="137">
                    <img src="./img/voice_22.png" alt="人数に応じて増やしたり減らしたりできるイスがある" class="voices__img" width="155"
                         height="170">
                    <img src="./img/voice_23.png" alt="みんなでワイワイ話せる場" class="voices__img" width="160" height="175">
                    <img src="./img/voice_24.png" alt="ソファ席がある" class="voices__img" width="125" height="137">
                    <img src="./img/voice_25.png" alt="出入りしやすい雰囲気がある" class="voices__img" width="135" height="148">
                    <img src="./img/voice_26.png" alt="自由に空間を仕切れるパネルがある" class="voices__img" width="132" height="144">
                    <img src="./img/voice_27.png" alt="行けば誰か知り合いがいる場所" class="voices__img" width="171" height="187">
                    <img src="./img/voice_28.png" alt="3Dプリンターがある" class="voices__img" width="166" height="182">
                    <img src="./img/voice_29.png" alt="どんな人数でも自由に使える場所" class="voices__img" width="181" height="198">
                    <img src="./img/voice_30.png" alt="カフェがある" class="voices__img" width="121" height="132">
                    <img src="./img/voice_31.png" alt="携帯が充電できる" class="voices__img" width="163" height="178">
                    <img src="./img/voice_32.png" alt="見晴らしがいい場所" class="voices__img" width="156" height="170">
                    <img src="./img/voice_33.png" alt="リラックスできる場" class="voices__img" width="207" height="227">
                    <img src="./img/voice_34.png" alt="借りることができる紙、ペンがある" class="voices__img" width="141" height="154">
                    <img src="./img/voice_35.png" alt="個人作業をするためのノートパソコンがある" class="voices__img" width="162"
                         height="178">
                    <img src="./img/voice_36.png" alt="落ち着く香りがある(コーヒー・アロマ)" class="voices__img" width="121"
                         height="133">
                    <img src="./img/voice_37.png" alt="予約できる部屋" class="voices__img" width="125" height="138">
                    <img src="./img/voice_38.png" alt="作品を展示するスペース" class="voices__img" width="150" height="163">
                    <img src="./img/voice_39.png" alt="ボードゲームがある" class="voices__img" width="153" height="168">
                </div>
            </div>
        </section>
    </section>
    <section class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <h2 class="section-heading">
                    <span class="section-heading__inner">
                       <span class="section-heading__sub">Action</span>
                       <span class="section-heading__main">ラーニングコモンズで実現する<br>5つのアクション</span>
                   </span>
                </h2>
                <h3 class="_t-center genjyuu _fz-22 _mt-24"><span class="border-3">オカムラの考えるラーニングコモンズとは？</span></h3>
                <p class="_mt-32 _t-center _fz-14 _lh-2">学生が学びの内容によって場を選び、成果を出すことをサポートする空間「ラーニングコモンズ」。<br>学生たちが求める理想のラーニングコモンズを実現するため、オカムラはCatch
                    Up（出会う）、<br>Communication（つながる）、Collaboration（協業する）、Personal
                    Work（熟考する）、<br>Presentation（発表する）の５つのアクションを叶える空間を提案します。</p>
                <div class="action _mt-32">
                    <img class="action__img" src="./img/action.png" width="940" height="626" alt="">
                    <img class="action__fukidashi" src="./img/hukidasi.png" width="380" height="233" alt="">
                    <div class="action__text-box">
                        <p class="">新たな出会いが「学び」のきっかけとなり、より主体的な学びを促す、Presentation（発表する）とCatch Up（出会う）が重要になると考えています。</p>
                        <a href="" class="more-button02">詳しくはこちら</a>
                    </div>
                </div>
                <div class="action-box _mt-128">
                    <div class="action-box__inner">
                        <h3 class="_t-center _c-blue2 _fwb _fz-18">[ 空間づくりのポイント ]</h3>
                        <div class="_d-flex _aline-center _mt-16">
                            <ul class="action-box__list">
                                <li class="action-box__item">学生が自ら学ぶ場所を選べるようにする</li>
                                <li class="action-box__item">大学の想定する機能や使い方に対応したシーンを選んで、空間を構成することができる</li>
                                <li class="action-box__item">1つの空間で複数のシーンを兼用することができる</li>
                            </ul>
                            <p class="action-box__text _fz-14 _lh-2">
                                学生のActionについて何を重視して新しい空間を作ればいいんだろう？すでにある空間に大して、どのようにアレンジすれば改善できるだろうか？<br>ありたい姿に合わせた空間づくりをオカムラがご提案いたします。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="scene" class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <h2 class="section-heading">
                    <span class="section-heading__inner">
                       <span class="section-heading__sub">Scene</span>
                    </span>
                </h2>
                <div class="scene-wrap">
                    <div class="scene-wrap__header">
                        <h3 class="scene-heading _c-pink1 _fz-28 _fwb -pre">Presentation <span
                                    class="_fz-18">[ 発表する ]</span></h3>
                        <p>協業と熟考によって生まれたものを発表する場</p>
                    </div>
                    <div class="scene-wrap__box _d-flex justify-between">
                        <div class="scene-wrap__body">
                            <img src="./img/scene01.jpg" alt="">
                            <p class="_t-center _mt-8">クローズな空間で<br>中小規模のプレゼンテーション</p>
                        </div>
                        <div class="scene-wrap__body">
                            <img src="./img/scene02.jpg" alt="">
                            <p class="_t-center _mt-8">オープンな空間で<br>大人数のプレゼンテーション</p>
                        </div>
                    </div>
                </div>
                <div class="scene-wrap _mt-96">
                    <div class="scene-wrap__inner _d-flex justify-between">
                        <div class="scene-wrap__box">
                            <div class="scene-wrap__header">
                                <h3 class="scene-heading _c-pink1 _fz-28 _fwb -catch">Catch Up <span class="_fz-18">[ 出会う ]</span>
                                </h3>
                                <p class="">人と人、人と情報が出会う場</p>
                            </div>
                            <div class="scene-wrap__body">
                                <img src="./img/scene03.jpg" alt="">
                                <p class="_t-center _mt-8">オープンな空間で人と情報に出会う<br>少人数でカジュアルに交流</p>
                            </div>
                        </div>
                        <div class="scene-wrap__box">
                            <div class="scene-wrap__header">
                                <h3 class="scene-heading _c-pink1 _fz-28 _fwb -com">Communication <span class="_fz-18">[ つながる ]</span>
                                </h3>
                                <p class="">考えを深める熟考の場</p>
                            </div>
                            <div class="scene-wrap__body">
                                <img src="./img/scene04.jpg" alt="">
                                <p class="_t-center _mt-8">オープンな空間で<br>複数人が集まる</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scene-wrap _mt-96">
                    <div class="scene-wrap__header">
                        <h3 class="scene-heading _c-pink1 _fz-28 _fwb -work">Personal Work <span
                                    class="_fz-18">[ 熟考する ]</span></h3>
                        <p class="">出会った人や情報がつながる場所</p>
                    </div>
                    <div class="scene-wrap__box _d-flex justify-between">
                        <div class="scene-wrap__body">
                            <img src="./img/scene05.jpg" alt="">
                            <div class="_d-flex justify-center">
                                <p class="_t-center _mt-8">完全個室で<br>1人で作業</p>
                                <p class="_t-center _ml-96 _mt-8">オープンな空間で<br>1人で作業</p>
                            </div>
                        </div>
                        <div class="scene-wrap__body">
                            <img src="./img/scene06.jpg" alt="">
                            <p class="_t-center _mt-8">セミクローズな場所に<br>複数人が集まる</p>
                        </div>
                    </div>
                </div>
                <div class="scene-wrap _mt-96">
                    <div class="scene-wrap__header">
                        <h3 class="scene-heading _c-pink1 _fz-28 _fwb -collabo">Collaboration <span class="_fz-18">[ 協業する ]</span>
                        </h3>
                        <p class="">つながりから生まれたものをカタチにする協業の場</p>
                    </div>
                    <div class="scene-wrap__box _d-flex justify-between">
                        <div class="scene-wrap__body">
                            <img src="./img/scene07.jpg" alt="">
                            <p class="_t-center _mt-8">オープンな空間で<br>複数人が一緒に作業</p>
                        </div>
                        <div class="scene-wrap__body">
                            <img src="./img/scene08.jpg" alt="">
                            <p class="_t-center _mt-8">クローズな空間で<br>複数人が一緒に作業</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="presentation" class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <h2 class="section-heading">
                    <span class="section-heading__inner">
                       <span class="section-heading__sub">Catch Up & Presentation</span>
                    </span>
                </h2>
                <img class="_ml-auto _mr-auto" style="width: 750px" src="./img/catch01.jpg" width="750" height="142"
                     alt="">
                <h3 class="_fz-32 genjyuu _fwb _t-center _mt-32">“Catch Up”と“Presentation”の重要性</h3>
                <div class="_d-flex justify-between _mt-32">
                    <section class="catch-up">
                        <img src="./img/catch04.png" alt="">
                        <img class="_mt-16" src="./img/scene03.jpg" alt="">
                        <div class="catch-box _mt-32 _bg-perple2" style="height: 111px">
                            <ul>
                                <li class="catch-box__item -perple _fwb _fz-14 _mt-8">情報発信が常にされていて、そこに行けば情報と出会える</li>
                                <li class="catch-box__item -perple _fwb _fz-14 _mt-8">座り方も、集まり方も、行動も、各々が自由に使える</li>
                            </ul>
                        </div>
                        <h4 class="catch__head">「人を集める」仕組と<br>仕掛のある「特設」空間</h4>
                        <p class="_mt-16">“Catch
                            Up”空間は、「人と人との絆」を創る重要な空間要素です。その第一段階として、「人を集める」ことが大切です。ここに来れば、自分の求めているものがある。そういった人を引き付ける場を設けることで、場を活性化させる効果を持たせることができます。</p>
                        <h4 class="catch__head">「人をつなげる」仕組と<br>仕掛のある「特設」空間</h4>
                        <p class="_mt-16">
                            人同士は、傍にいるだけでは、仲間になれません。そのための「きっかけ」が必要なのです。お互いに共通す志向・趣味・目的・目標をを見つけ合い、共感を持ち合うことができる「きっかけ」造りができる効果があります。</p>
                        <img class="_mt-24" src="./img/catch03.png" alt="">
                        <h4 class="catch__head _mt-36">Catch Up空間 ×<br>CMF（Color・Material・Finish）</h4>
                        <div class="_d-flex _mt-24">
                            <p class="_pr-24">自然と会話が生まれやすいリラックスした雰囲気をもつCatch
                                Up空間。温かみのある木の素材感と触り心地の良いファブリックが居心地の良い空間を演出します。</p>
                            <img src="./img/cmf01.png" alt="">
                        </div>
                        <img class="_mt-16" src="./img/cmf02.png" alt="">
                    </section>
                    <section class="catch-up">
                        <img src="./img/catch05.png" alt="">
                        <img class="_mt-16" src="./img/scene01.jpg" alt="">
                        <div class="catch-box _mt-32 _bg-pink2">
                            <ul>
                                <li class="catch-box__item -pink _fwb _fz-14">人数や方向性に制限がなく、自由にレイアウトできる</li>
                                <li class="catch-box__item -pink _fwb _fz-14 _mt-4">プロジェクターやホワイトボードを利用して<br>コラボレーション空間にも表現できる
                                </li>
                            </ul>
                        </div>
                        <h4 class="catch__head -pink">「人に自分を理解してもらう」仕組と<br>仕掛のある「特設」空間</h4>
                        <p class="_mt-16">コミュニケーションの基本は、相手に対して、自分の考え方を理解してもらい、かつ「共感」を得てもらうこおtが大切です。<br>「そうだよね！」「いいね！」をいかに多く得られるかどうかが重要なのは、SNSなどを見ても明確です。
                        </p>
                        <p class="_mt-32">この「いいね！」をしてもらう「練習をするところが、<br>“Presentation”環境です。山道や共感を得た先に、本当の「コラボレーション（協働作業）」があります。
                        </p>
                        <p class="_mt-32">よりよいコラボレーションをするためには、この“Presentation”スキルをもがくことが、最も近道なのです。</p>
                        <img class="_mt-64" src="./img/catch02.png" alt="">
                        <h4 class="catch__head -pink">Presentation空間 ×<br>CMF（Color・Material・Finish）</h4>
                        <div class="_d-flex _mt-24">
                            <p class="_pr-24">
                                誰でも立ち寄れる開放的な雰囲気をもつPresentation空間。明るくすっきりとした色合いと柔らかな素材の質感が、凛とした中にも、オープンでやわらぐ空間を演出します。</p>
                            <img src="./img/cmf03.png" alt="">
                        </div>
                        <img class="_mt-16" src="./img/cmf04.png" alt="">
                    </section>
                </div>
            </div>
        </div>
    </section>

    <section id="product" class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <h2 class="section-heading">
                    <span class="section-heading__inner">
                       <span class="section-heading__sub">Product</span>
                       <span class="section-heading__main">イノベーションを加速させる<br>「ツール」とは何か？</span>
                   </span>
                </h2>
                <img class="_mt-40" src="./img/product01.png" alt="">
                <ul class="product__list _d-flex justify-center">
                    <li class="product__item _t-center">「机」「椅子」「収納」<br>といった固定概念を外す</li>
                    <li class="product__item _ml-16 _t-center">自分たちが使う空間は<br>自分たちで創る</li>
                    <li class="product__item _ml-16 _t-center">究極のフレキシビリティ<br>を実現する</li>
                </ul>
                <section class="variable">
                    <div class="variable__inner">
                        <h3><img class="_w-auto _ml-auto _mr-auto" src="./img/product-title.png"
                                 alt="「可変」可能な家具で「特設」空間を創る"></h3>
                        <div class="_d-flex justify-between _mt-64">
                            <section class="catch-up">
                                <img src="./img/product02.png" alt="">
                                <img src="./img/product04.png" alt="">
                                <h4 class="catch__head -var">より進んだ多様性への対応</h4>
                                <p class="_mt-16 _fz-14 _lh-2">
                                    大学では、さまざまな特性を持った人々が学びに来ています。その方々全員にフィットするような万能な空間環境などは、存在しないでしょう。<br>さらに、学修プロセスによって、多様な環境が必要になってきます。変更することができない一様な空間環境では、効果的で効率的な学修をすすめることは難しいといえます。これらを、臨機応変に変化させることが、知的創造性を向上させる用件です。
                                </p>
                                <img src="./img/product06.png" alt="">
                            </section>
                            <section class="catch-up">
                                <img src="./img/product03.png" alt="">
                                <img src="./img/product05.png" alt="">
                                <h4 class="catch__head -var">「人を集める」仕組と仕掛</h4>
                                <p class="_mt-16 _fz-14 _lh-2">空間を特徴的に設エルことで、特定の志向性を持つ人財を集めることができます。</p>
                                <h4 class="catch__head -var">個と個をつなげる「きっかけ」を造る</h4>
                                <p class="_mt-16 _fz-14 _lh-2">
                                    単に、人同士が傍に寄れば仲良くなれるのでしょうか？<br>もしそうなら、通勤電車は最高の社交場になるでしょう。<br>偶然の出会いは、自然には訪れません。自分自身の志向や特性を提示できることが重要になります。
                                </p>
                                <img src="./img/product07.png" alt="">
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <h2><img class="_w-auto _ml-auto _mr-auto" src="./img/dock.png" alt=""></h2>
                <div class="more-button-wrap _mt-32">
                    <a href="" class="more-button">商品詳細はこちら<span></span></a>
                </div>
                <section>
                    <div class="dock _d-flex justify-between _mt-40">
                        <div class="dock__box">
                            <img class="_w-auto" src="./img/dock05.jpg" alt="">
                            <div class="_d-flex justify-between _mt-16" style="width: 430px">
                                <div class="">
                                    <p class="_fz-18 _fwb">たまり場</p>
                                    <p class="_lh-2">スキマ時間に、さっと立ち寄って自由に過ごせるスペース</p>
                                </div>
                                <img class="_w-auto" src="./img/dock02.png" alt="たまり場の図形">
                            </div>
                        </div>
                        <div class="dock__box">
                            <img class="_w-auto" src="./img/dock04.jpg" alt="">
                            <div class="_d-flex justify-between _mt-16" style="width: 430px">
                                <div class="">
                                    <p class="_fz-18 _fwb">発信する場</p>
                                    <p class="_lh-2">即席チームミーティングや、<br>発表会に</p>
                                </div>
                                <img class="_w-auto" src="./img/dock03.png" alt="発信する場の図形">
                            </div>
                        </div>
                        <img class="dock__kumikae" src="./img/kumikae.png" alt="">
                    </div>
                </section>
                <section>
                    <div class="action-box _mt-32">
                        <div class="action-box__inner _pb-40">
                            <h3 class="_t-center _c-blue2 _fwb _fz-18">[ 家具を組み替えられるメリット ]</h3>
                            <div class="_mt-16">
                                <ul class="action-box__list">
                                    <li class="action-box__item">使用人数によって、任意の最適なスペース取り（狭すぎず広すぎない）ができ、空間全体の利用効率が向上する。</li>
                                    <li class="action-box__item">ワークプロセスごとに移動する必要が全くない</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="stool _mt-24">
                    <div class="stool__inner">
                        <img class="_w-auto" src="./img/stool01.png" alt="">
                        <div class="stool__box">
                            <div class="">
                                <h3 class="_fz-24 _fwb">多機能スツール</h3>
                                <p class="_mt-8">自分の好きな場所に移動させて、向きを変えたり、上に物をのせたりすることで、様々な用途に使うことができます。</p>
                            </div>
                            <div class="_d-flex _mt-8">
                                <img src="./img/stool04.png" alt="備品入れ">
                                <img class="_ml-16" src="./img/stool02.png" alt="カバン収納">
                                <img class="_ml-16" src="./img/stool03.png" alt="ホワイトボード">
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h3 class="_t-center _mt-96 _fz-20">Scene image</h3>
                    <div class="scene-image _mt-32">
                        <img src="./img/scene-image.jpg" alt="">
                        <img class="scene-image__a _w-auto" src="./img/a-black.png" alt="">
                        <img class="scene-image__b _w-auto" src="./img/b-gray.png" alt="">
                    </div>
                    <div class="">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <h4>カスタム空間を<br>すぐ造れる！</h4>
                                    <p>自分が作業する内容によって、アイテムを自由に組み合わせて、最適・最善のパーソナル空間を創り出すことができます。</p>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="">
                                <div class="">
                                    <h4>プライバシーを<br>コントロールする！</h4>
                                    <p>目線の高さや方向を自由に設定できる。独りで居る・ペアになる・仲間と集う・自由なコミュニケーション・レベルを構築できます。</p>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="">
                                <div class="">
                                    <h4>クリエイティブな<br>自由気ままに！</h4>
                                    <p>自分の居たいように家具を持ち合わせて使う</p>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="">
                                <div class="">
                                    <h4>何気に仕切る！</h4>
                                    <p>それとなく陣地の境界線（結界）を造る。</p>
                                </div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <div class="more-button-wrap _pt-24 _pb-24">
                    <a href="" class="more-button">商品詳細はこちら</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="contact">
                <div class="more-button-wrap">
                    <a href="" class="more-button">製品・ソリューションについてお問い合わせ</a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="l-footer" role="contentinfo">
    <div class="l-footer__inner">
        <img class="_w-auto" style="width: 160px" src="./img/okamura.png" width="256" height="28" alt="OKAMURA">
        <small class="_d-block _c-gray1 _fz-14">Copyright &copy; 2007-2020 OKAMURA CORPORATION. ALL RIGHTS
            RESERVED.</small>
        <ul class="sns-nav _d-flex">
            <li class="sns-nav__list"><a href="" class="sns-nav__item" target="_blank" rel="noopener"><img
                            src="./img/img-icon-facebook.png" width="54" height="54" alt="Facebook"></a></li>
            <li class="sns-nav__list"><a href="" class="sns-nav__item _ml-12" target="_blank" rel="noopener"><img
                            src="./img/img-icon-twitter.png" width="54" height="54" alt="Twitter"></a></li>
            <li class="sns-nav__list"><a href="" class="sns-nav__item _ml-12" target="_blank" rel="noopener"><img
                            src="./img/img-icon-youtube.png" width="54" height="54" alt="YouTube"></a></li>
        </ul>
        <a href="#" class="remove-button _c-white1 _fwb">To Top</a>
    </div>
</footer>
<script src="main.js"></script>
</body>

</html>